<template>
  <div class="home">
    <img alt="Yourviews logo" src="../../assets/logo.png" class="home-logo">
    <h2 class="title home-welcome">
      <span v-text="$ml.get('home.welcome')"/><span v-if="user != null">, {{ user.name }}</span> !
    </h2>
    <p class="text home-text" v-text="$ml.get('home.text')" />
    <div style="position: absolute; bottom: 10px; right: 10px;">
      <img v-on:click="eggUser" style="width: 15px;" src="https://cdn0.iconfinder.com/data/icons/star-wars/512/light_saber_green-512.png"/>
    </div>
  </div>
</template>

<script>
import constants from "../../config/Constants.js"

export default {
  name: "home",
  data: function () {
    return {
    }
  },
  computed: {
    user: function() {
      return this.$store.state.admin
    }
  },/*
  mounted () {
    this.$store.state.isLoading = true
    axios
      .get("https://swapi.co/api/people/1/")
      .then(response => {
        this.$store.state.admin = response.data
      })
      .catch(e => {
        this.$store.state.error = e
      })
      .finally(f => {
        this.$store.state.isLoading = false
      })
  },*/
  methods: {
    eggUser: function (event) {
      this.$store.state.isLoading = true
      constants.axios
        .get("https://swapi.co/api/people/1/")
        .then(response => {
          this.$store.state.admin = response.data
        })
        .catch(e => {
          this.$store.state.error = e.response
        })
        .finally(f => {
          this.$store.state.isLoading = false
        })
    }
  }
}
</script>
