<template>
  <div v-if="isActive" class="tab-body">
      <slot></slot>
  </div>
</template>  
<script>  
export default {
   props: {
    name: { required: true },
    selected: { default: false },
    title: { required: false }
  },
  data() {
    return {
      isActive: false,
      newClass: ''
    }
  },
  mounted() {
    this.isActive = this.selected
    this.newClass = this.classPm
  }
}
</script>  