<template>
  <div class="tab-content">
    <nav class="tab-navegation">
      <button class="btn tab-btn" :class="{'active': current == index}" v-for="(tab, index) in this.children" :key="index" @click="selectTab(tab, index)">
        {{tab.title}}
      </button>
    </nav>
    <slot></slot>
  </div>
</template>  
<script>  
export default {
  data() {
    return {
      children: null,
      current: -1
    }
  },
  methods: {
    selectTab(selectedTab, index) {
      this.children.forEach(tab => {
        this.current = index 
        if (tab.name == selectedTab.name)
          tab.isActive = true
        else
          tab.isActive = false
      })
    }
  },
  created() {
    this.children = this.$children
  },
  mounted() {
    this.current = this.children.findIndex(x => x.isActive);
  }
}
</script>  
<style>
</style>  