.error-box {
  position: fixed;
  right: 0;
  top: 0;
  padding: 10px;
  z-index: 3;
  margin: 15px;
  max-width: 100%;
  width: 250px;
  background-color: rgba(219, 74, 103, 0.7);
  color: #fff;
  border-radius: 5px;
}

.error-sorry{
  display: block;
}

.no-connection-box {
  position: fixed;
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
  font-size: 18px;
  background-color: rgba(219, 74, 103, 0.83);
  color: #fff;
  z-index: 3;
}