.loader-box {
  position: fixed;
  width: 100%;
  height: 100%;
}

.loader {
  position: relative;
  width: 60px;
  height: 60px;
  display: inline-block;
  vertical-align: middle;
  z-index: 3;
  top: 50%;
  transform: translate(-50%, -50%);
}

.loader-star {
  position: absolute;
  top: calc(50% - 12px);
}

.star1 {
  -webkit-animation: stars-pulse 1s ease-in-out infinite;
  animation: stars-pulse 1s ease-in-out infinite;
  left: 0;
}

.star2 {
  -webkit-animation: stars-pulse 1s 0.2s ease-in-out infinite;
  animation: stars-pulse 1s 0.2s ease-in-out infinite;
  left: 55px;
}

.star3 {
  -webkit-animation: stars-pulse 1s 0.4s ease-in-out infinite;
  animation: stars-pulse 1s 0.4s ease-in-out infinite;
  left: 105px;
}
    
/*
####################
    Key Frame
####################
*/

@keyframes stars-pulse {
  0%,
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  80% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }
}
    