<template>
  <div class="app-status">
    <div class="loader-box" v-if="loading">
      <div class="loader">
        <svg
          class="loader-star star1"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          x="0px"
          y="0px"
          width="40.172px"
          height="40.346px"
          viewBox="0 0 23.172 23.346"
          xml:space="preserve"
        >
          <polygon
            fill="#FFD700"
            points="11.586,0 8.864,8.9 0,8.9 7.193,14.447 4.471,23.346 11.586,17.84 18.739,23.346 16.77,14.985 23.172,8.9 14.306,8.9"
          ></polygon>
        </svg>
        <svg
          class="loader-star star2"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          x="0px"
          y="0px"
          width="40.172px"
          height="40.346px"
          viewBox="0 0 23.172 23.346"
          xml:space="preserve"
        >
          <polygon
            fill="#FFD700"
            points="11.586,0 8.864,8.9 0,8.9 7.193,14.447 4.471,23.346 11.586,17.84 18.739,23.346 16.77,14.985 23.172,8.9 14.306,8.9  "
          ></polygon>
        </svg>
        <svg
          class="loader-star star3"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          x="0px"
          y="0px"
          width="40.172px"
          height="40.346px"
          viewBox="0 0 23.172 23.346"
          xml:space="preserve"
        >
          <polygon
            fill="#FFD700"
            points="11.586,0 8.864,8.9 0,8.9 7.193,14.447 4.471,23.346 11.586,17.84 18.739,23.346 16.77,14.985 23.172,8.9 14.306,8.9  "
          ></polygon>
        </svg>
      </div>
    </div>
    <div class="block-all" v-if="showBlockAll"></div>
    <div class="error-box" v-if="error != null">
      <p>
        <span class="error-sorry" v-text="$ml.get('app.error')"/>
        Status {{error.status}}
      </p>
    </div>
    <div class="no-connection-box" v-if="!hasConnection">
      <p>
        <span v-text="$ml.get('app.no_connection')"/>
        {{connectionCounter}}
      </p>
    </div>
  </div>
</template>

<script>
const timeToConnect = {
  sec: 30,
  milisec: 30000
};

export default {
  name: "app-status",
  data: function() {
    return {
      hasConnection: true,
      connectionCounter: timeToConnect.sec
    }
  },
  computed: {
    showBlockAll: function() {
      return this.loading;
    },
    loading: function() {
      return this.$store.state.isLoading;
    },
    error: function() {
      return this.$store.state.error;
    },
  },
  watch: {
    error: function (newError, oldError) {
      setTimeout(() => { 
        this.$store.state.error = null 
      }, 2500)
    },
    hasConnection: function (newConnection, oldConnection) {
      setInterval(() => { 
        if (!newConnection)
          this.connectionCounter--
        else
          location.reload()
      }, 1000)
    }
  },
  methods: {
    tryConnection:  function () {
      this.hasConnection = navigator.onLine
      this.connectionCounter = timeToConnect.sec
    }
  },
  mounted () {
    this.tryConnection()
    setInterval(() => { 
        this.tryConnection()
    }, timeToConnect.milisec)
  }
};
</script>
