<template>
  <div class="form-editor">
    <h1 class="title" v-text="$ml.get('form_editor.title')"/>
    <section class="forms" v-if="forms != null && currentForm == null">
      <h2 class="title forms-title" v-text="$ml.get('form_editor.forms_title')"/>
      <button class="btn forms-btn-new" v-on:click="newForm()" v-text="$ml.get('form_editor.new_form')"/>
      <ul class="form-list">
        <li class="form-choose" v-for="form in forms" :key="form.id" v-on:click="getForm(form.id)">
          <strong>{{form.title}}</strong>
          <p>{{limitCharacters(form.description)}}</p>
        </li>
      </ul>
    </section>
    <section class="form-edit" v-if="currentForm != null">
      <div class="form-edit-area">
        <div class="form-edit-info" v-if="isEditingFormInfo">
          <TextField class="form-edit-info-field" :label="$ml.get('form_editor.editing_form_title')" :value="currentForm.title"/>
          <TextArea class="form-edit-info-field" :label="$ml.get('form_editor.editing_form_description')" :value="currentForm.description"/>
        </div>
        <nav class="form-edit-nav">
          <button class="btn" v-on:click="back()" v-text="$ml.get('form_editor.back_btn')"/>
          <button class="btn" v-on:click="isEditingFormInfo = !isEditingFormInfo" v-text="$ml.get('form_editor.edit_form_info')" :class="{active: isEditingFormInfo}"/>
          <button class="btn" v-on:click="save()" v-text="$ml.get('form_editor.save_btn')"/>
        </nav>
        <draggable @choose="setEditingField" @start="cancelEditingField" v-model="currentForm.fields" :options="{group:'fields', animation: 100, scrollSensitivity: 200, bubbleScroll: true, scrollSpeed: 1}" :scroll="true">
          <CustomField class="form-draggable form-editable" v-for="(element, index) in currentForm.fields" :key="index" :field="element" v-on:delete="deleteField(index)" v-on:edit="customFieldEditing= index"/>
        </draggable>
      </div>
      <draggable v-if="defaultFields != null" v-model="defaultFields" class="form-draggable form-default-fields" :options="{group:{name:'fields', pull:'clone', put:false }, animation: 100}">
        <DefaultField v-for="(element, index) in defaultFields" :key="index"  :type="element.type"/>
      </draggable>
    </section>
    <EditFieldInfo v-if="customFieldEditing >= 0" :field="currentForm.fields[customFieldEditing]" v-on:endEditField="customFieldEditing = -1"/>
  </div>
</template>

<script>
import constants from "../../config/Constants.js"
import draggable from 'vuedraggable'
import listFields from './FormModel/default-fields.js'
import CustomField from './Components/CustomField.vue'
import DefaultField from './Components/DefaultField.vue'
import EditFieldInfo from './Components/EditFieldInfo.vue'
import { common } from '../../config/mixins/common.js'
import TextField from '../../components/Form/TextField.vue'
import TextArea from '../../components/Form/TextArea.vue'

export default {
  name: "form-editor",
  mixins: [common],
  components: {
    draggable,
    CustomField,
    DefaultField,
    EditFieldInfo,
    TextField,
    TextArea
  },
  data: function () {
    return {
      currentForm: null,
      defaultFields: listFields.fields,
      forms: null,
      isEditingFormInfo: false,
      customFieldEditing: -1,
      timerToSetEditingField: null
    }
  },
  methods: {
    getForm: function(id) {
      this.$store.state.isLoading = true
      constants.axios
        .get(constants.SERVER + "form/" + id)
        .then(response => {
          this.currentForm = response.data
          this.$router.push({ query: { q: id }})
        })
        .catch(e => {
          this.$store.state.error = e.response
        })
        .finally(f => {
          this.$store.state.isLoading = false
        })
    },
    save: function() {
      if (this.currentForm.id == 0)
        this.insert()
      else 
        this.update()
    },
    insert: function() {
      this.$store.state.isLoading = true
      this.updateForms()
      constants.axios
        .post(constants.SERVER + "form", this.currentForm)
        .then(response => {
          this.$router.push({ query: { q: response.data.id }})
        })
        .catch(e => {
          this.$store.state.error = e.response
        })
        .finally(f => {
          this.$store.state.isLoading = false
        })
    },
    update: function() {
      this.$store.state.isLoading = true
      this.updateForms()
      constants.axios
        .put(constants.SERVER + "form/" + this.currentForm.id, this.currentForm)
        .catch(e => {
          this.$store.state.error = e.response
        })
        .finally(f => {
          this.$store.state.isLoading = false
        })
    },
    newForm: function() {
      this.$store.state.isLoading = true
      constants.axios
        .get(constants.SERVER + "default-form")
        .then(response => {
          this.currentForm = response.data[0]
        })
        .catch(e => {
          this.$store.state.error = e.response
        })
        .finally(f => {
          this.$store.state.isLoading = false
        })
    },
    back: function() {
      this.currentForm = null
      this.$router.push({ query: null})
    },
    updateForms: function() {
      if (this.forms != null) {
        
        if (this.forms.find(x => x.id === this.currentForm.id) !== undefined) {
          let index = this.forms.findIndex(x => x.id === this.currentForm.id)
          this.forms[index] = this.currentForm

        } else {
          this.forms.push(this.currentForm)
        }
      }
    },
    setEditingField: function(element) {
      this.cancelEditingField()
      element.item.classList.add("editing-field")
      this.timerToSetEditingField = setInterval(() => { 
        
      }, 100)
    },
    cancelEditingField: function() {
      var elements = document.getElementsByClassName('editing-field')
      for (var i = 0; i < elements.length; i++ ){
        elements[i].classList.remove("editing-field")
      }
      clearInterval(this.timerToSetEditingField)
    },
    deleteField: function(index) {
      this.currentForm.fields.splice(index, 1)
    }
  },
  mounted () {
    if (this.$route.query.q !== undefined)
      this.getForm(this.$route.query.q)

    this.$store.state.isLoading = true;
    constants.axios
      .get(constants.SERVER + "form")
      .then(response => {
        this.forms = response.data
      })
      .catch(e => {
        this.$store.state.error = e.response
      })
      .finally(f => {
        this.$store.state.isLoading = false
      })
  },
};
</script>
