<template>
  <div class="field">
    <label class="field-label">{{label}}</label>
    <div class="field-value field-write field-text">
      <input class="text-field" v-model="value" type="text" />
    </div>
  </div>
</template>

<script>
export default {
  props: [
    "label",
    "value"
  ]
}
</script>
