<template>
  <div class="field">
    <label class="field-label">{{label}}</label>
    <div class="field-value field-write field-area">
      <textarea class="area-field" v-model="value" type="text">
      </textarea>
    </div>
  </div>
</template>

<script>
export default {
  props: [
    "label",
    "value"
  ]
}
</script>
