<template>
  <div>
    <div class="field custom-field">
      <label class="custom-field-label">
        <input type="text" class="custom-field-text-editable" v-model="field.title"/>
      </label>
      <div v-if="field.type == 'area'" :class="'field-value field-write field-' + field.type">
        <textarea :class="field.type + '-field custom-field-palceholder-editable'" v-model="field.content"></textarea>
      </div>
      <div v-if="field.type == 'text'" :class="'field-value field-write field-' + field.type">
        <input :class="field.type + '-field custom-field-palceholder-editable'" type="text" v-model="field.content"/>
      </div>
      <div v-if="valueFields.includes(field.type)" :class="'field-value field-check field-' + field.type">
        <label v-for="(value, index) in field.values" :key="index">
          <input :class="field.type + '-field'" :type="field.type" :name="field.name"/>
          <span><input class="custom-field-text-editable custom-field-text-editable-check" type="text" v-model="value.value"/></span>
          <button class="btn btn-custom-edit-val remove" v-on:click="removeValue(index)">X</button>
        </label>
        <button class="btn btn-custom-edit-val" v-on:click="addValue()">+</button>
      </div>
      <div v-if="field.type == 'select'" :class="'field-value field-write field-' + field.type">
        <select :class="field.type + '-field'" :name="field.name">
          <option disabled selected value="" v-if="field.content != null">{{field.content}}</option>
          <option v-for="(value, index) in field.values" :key="index">
            {{value.value}}
          </option>
        </select>
        <button class="btn btn-custom-edit-val" v-on:click="addValue()">+</button>
      </div>
      <NPS v-if="field.type == 'nps'" :name="field.name" :class="'field-value field-check field-' + field.type"></NPS>
      <Rating v-if="field.type == 'rating'" :name="field.name" :class="'field-value field-check field-' + field.type"></Rating>
      <span class="field-description">
        <input class="custom-field-text-editable" type="text" v-model="field.description"/>
      </span>
    </div>
    <div class="custom-field-info">
      <div class="custom-field-info-actions">
          <button class="custom-btn-flags" v-on:click="$emit('edit')">
            <i class="icon icon-edit-blue"/>
          </button>
        <button class="custom-btn-flags" v-on:click="$emit('delete')">
          <i class="icon icon-trash-red"/>
        </button>
      </div>
      <button class="custom-btn-flags" v-on:click="fieldRequired = !fieldRequired" :class="{active:fieldRequired}">
        <span v-text="$ml.get('form_editor.field_edit.main.required')"/>
        <i class="icon icon-required-orange"/>
      </button>
      <button class="custom-btn-flags" v-on:click="fieldHide = !fieldHide" :class="{active:fieldHide}">
        <span v-text="$ml.get('form_editor.field_edit.main.hide')"/>
        <i class="icon icon-hide-black"/>
      </button>
      <span class="custom-field-name">
        <span v-text="$ml.get('form_editor.custom_field_name')"/>: 
        <input class="custom-field-text-editable" type="text" v-model="field.name"/>
      </span>
    </div>
  </div>
  
</template>

<script>
import Rating from './Rating.vue'
import NPS from './NPS.vue'

export default {
  name: "custom-field",
  props: ['field'],
  components: {
    Rating,
    NPS
  },
  data: function () {
    return {
      valueFields: [
        "radio",
        "checkbox"
      ],
      fieldHide: false,
      fieldRequired: false
    }
  },
  methods: {
    addValue() {
      this.field.values.push({id: 0, value: "New Field"})
    },
    removeValue(index) {
      this.field.values.splice(index, 1)
    }
  },
  created() {
    this.fieldHide = this.field.hide
    this.fieldRequired = this.field.required
  },
  beforeUpdate() {
    this.field.hide = this.fieldHide
    this.field.required = this.fieldRequired
  }
}
</script>
