<template>
  <div class="default-field" :class="'default-field-' + type">
    <i :class="'icon icon-field-type-' + type"></i>
    <span v-text="$ml.get('form_editor.default_field.title_'+ type)"/>
  </div>
</template>

<script>
export default {
  name: "default-field",
  props: ['type'],
  data: function () {
    return {
    }
  },
}
</script>
