<template>
  <section class="form-edit-field">
    <div class="modal form-edit-field-modal">
      <TabSet>
        <Tab name="main" title="Principal" :selected="true">
          <div class="field">
            <label class="field-label" v-text="$ml.get('form_editor.field_edit.main.title')"/>
            <div class="field-value">
              <input class="text-field" v-model="field.title" type="text" />
            </div>
          </div>
          <div class="field">
            <label class="field-label" v-text="$ml.get('form_editor.field_edit.main.description')"/>
            <div class="field-value">
              <input class="text-field" v-model="field.description" type="text" />
            </div>
          </div>
          <div class="field" v-if="writeFields.includes(field.type)">
            <label class="field-label" v-text="$ml.get('form_editor.field_edit.main.content')"/>
            <div class="field-value">
              <input class="text-field" v-model="field.content" type="text" />
            </div>
          </div>
          <div class="field">
            <label class="field-label" v-text="$ml.get('form_editor.field_edit.main.category')"/>
            <div class="field-value field-write field-select">
              <select class="select-field" v-model="field.category">
                <option disabled value="" v-text="$ml.get('form_editor.field_edit.main.category_placeholder')"/>
                <option value="product" v-text="$ml.get('form_editor.field_edit.main.category_product')"/>
                <option value="user" v-text="$ml.get('form_editor.field_edit.main.category_user')"/>
                <option value="store" v-text="$ml.get('form_editor.field_edit.main.category_store')"/>
              </select>
            </div>
          </div>
          <div class="field-value field-check field-checkbox">
            <label>
              <input class="checkbox-field" v-model="field.required" type="checkbox"/>
              <span v-text="$ml.get('form_editor.field_edit.main.required')"/>
            </label>
          </div>
          <div class="field-value field-check field-checkbox">
            <label>
              <input class="checkbox-field" v-model="field.hide" type="checkbox"/>
              <span v-text="$ml.get('form_editor.field_edit.main.hide')"/>
            </label>
          </div>
        </Tab>
        <Tab name="answers" title="Respostas">
          Sem Goiabada
        </Tab>
      </TabSet>
      
    </div>
    <div class="block-all form-edit-field-background" v-on:click="close()"></div>
  </section>
</template>

<script>
import TabSet from "../../../components/Tab/TabSet.vue"
import Tab from "../../../components/Tab/Tab.vue"

export default {
  props: ['field'],
  components: {
    TabSet,
    Tab
  },
  data: function () {
    return {
      writeFields: [
        "text",
        "area",
        "select"
      ]
    }
  },
  methods: {
    close: function() {
      this.$emit("endEditField")
    }
  }
}
</script>
