<template>
  <div>
    <label>
      <input class="radio-field" type="radio" :name="name"/>
      <span>0</span>
    </label>
    <label>
      <input class="radio-field" type="radio" :name="name"/>
      <span>1</span>
    </label>
    <label>
      <input class="radio-field" type="radio" :name="name"/>
      <span>2</span>
    </label>
    <label>
      <input class="radio-field" type="radio" :name="name"/>
      <span>3</span>
    </label>
    <label>
      <input class="radio-field" type="radio" :name="name"/>
      <span>4</span>
    </label>
    <label>
      <input class="radio-field" type="radio" :name="name"/>
      <span>5</span>
    </label>
    <label>
      <input class="radio-field" type="radio" :name="name"/>
      <span>6</span>
    </label>
    <label>
      <input class="radio-field" type="radio" :name="name"/>
      <span>7</span>
    </label>
    <label>
      <input class="radio-field" type="radio" :name="name"/>
      <span>8</span>
    </label>
    <label>
      <input class="radio-field" type="radio" :name="name"/>
      <span>9</span>
    </label>
    <label>
      <input class="radio-field" type="radio" :name="name"/>
      <span>10</span>
    </label>
  </div>
</template>

<script>
export default {
  name: "nps",
  props: ['name']
}
</script>