#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: $font-color;
}

.title {
  font-size: 24px;
  padding: 20px;
  margin: 10px auto;
  box-sizing: border-box;
}

.forms-btn-new {
  float: right;
  margin-right: 30px;
}

.text {
  display: block;
  margin: 5px auto;
  padding: 10px;
}

.btn {
  background-color: #0053a6;
  border: 1px solid transparent;
  padding: 8px 15px;
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
  margin: 5px;
  font-size: 14px;
  color: #fff;
  box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.5);
  &:active, &.active {
    background-color: #fff;
    color: #0053a6;
    outline: none;
  }
}

.menu-open {
  position: relative;
}

.btn-open-lang {
  display: none;
  position: absolute;
  width: 100px;
  right: 0;
  margin-top: 5px;
  text-align: right;
  &.active {
    display: block;
  }
}

.icon {
  width: 15px;
  height: 15px;
  display: inline-block;
  vertical-align: middle;
  background-position: center;
  background-size: contain;
  padding: 5px;
  margin: 0px 10px;
  background-repeat: no-repeat;
}

.field {
  padding: 10px;
  box-sizing: border-box;
}

.field-label {
  display: block;
}

.text-field, .area-field, .select-field {
  width: 100%;
  min-height: 30px;
  max-width: 300px;
  padding: 5px 10px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.1);
}


.area-field {
  resize: none;
  min-height: 70px;
  padding: 10px;
}

.field-check {
  > label {
    margin: 10px 8px 5px 5px;
    display: inline-block;
    vertical-align: middle;
  }
}

.checkbox-field, .radio-field {
  margin: 0px 3px 0px 0px;
}

.field-value {
  margin: 10px auto 0px;
  &.field-check {
    margin: 0px auto 0px;
  }
}

.field-description {
  font-size: 14px;
  color: #888;
  display: block;
  margin: 5px 0px 0px 5px;
}

.block-all {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.05);
  z-index: 2;
}

.modal {
  position: fixed;
  width: 100%;
  max-width: 600px;
  height: 100%;
  max-height: 300px;
  background-color: #d7e0e9;
  z-index: 3;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  box-shadow: 1px 1px 8px 1px rgba(0,0,0,0.5);
}

.tab-content {
  height: 100%;
}
