.icon-field-type-nps {
  background-image: url('assets/img/icon/icon-nps-black.png');
}

.icon-field-type-text {
  background-image: url('assets/img/icon/icon-text-black.png');
}

.icon-field-type-rating {
  background-image: url('assets/img/icon/icon-star-black.png');
}

.icon-field-type-area {
  background-image: url('assets/img/icon/icon-area-black.png');
}

.icon-field-type-select {
  background-image: url('assets/img/icon/icon-select-black.png');
}

.icon-field-type-radio {
  background-image: url('assets/img/icon/icon-radio-black.png');
}

.icon-field-type-checkbox {
  background-image: url('assets/img/icon/icon-checkbox-black.png');
}

.icon-edit-blue {
  background-image: url('assets/img/icon/icon-edit-blue.png');
}

.icon-hide-black {
  background-image: url('assets/img/icon/icon-hide-black.png');
}

.icon-required-orange {
  background-image: url('assets/img/icon/icon-required-orange.png');
}

.icon-trash-red {
  background-image: url('assets/img/icon/icon-trash-red.png');
}