/*
####################
    Menu Header
####################
*/
.menu-top {
  text-align: left;
  padding: 10px;
  box-sizing: border-box;
  border-bottom: 2px solid $primary-color;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-logo {
  height: 35px;
  > img{
    max-height: 35px;
  }
}

.btn-lang {
  margin: 2px 5px;
  padding: 5px 10px;
  &.btn-open-parent {
    background-color: transparent;
    border-radius: 50%;
    padding: 0px;
    margin: 0;
  }
  > img {
    width: 25px;
    vertical-align: middle;
  }
}

/*
####################
    Menu Lateral
####################
*/
.aside-menu {
  min-width: 200px;
  padding-top: 10px;
  box-shadow: 1px 0px 5px 0px $primary-color-opacity;
  min-height: 600px;
}

.menu-nav {
  > a {
    display: block;
    padding: 10px 10px 10px 20px;
    box-sizing: border-box;
    text-align: left;
    color: $font-color;
    text-decoration: none;
    line-height: 1.1;
    &:hover, &.router-link-exact-active{
      text-decoration: underline;
    }
  }
}