<template>
  <div id="app">
    <AppStatus/>
    <header class="menu-top">
      <router-link to="/" class="menu-logo">
        <img class="menu-logo-img image" src="https://www.yourviews.com.br/wp-content/uploads/2015/11/logo-para-fundos-brancos.png" alt="Yourviews" title="A melhor solução de avaliações de produto para seu e-commerce – Yourviews"/>
      </router-link>
      <div class="menu-top-right">
        <div class="menu-open">
          <button class="btn btn-lang btn-open-parent" @click="showLang = !showLang"><img src="./assets/img/icon/globe.png"/></button>
          <div class="btn-open btn-open-lang" :class="{'active' : showLang}">
            <button class="btn btn-lang btn-open-children"  @click="$ml.change(lang); showLang = false" v-text="lang" v-for="lang in $ml.list" :key="lang" :class="{ 'active' : $ml.current == lang}"/>
          </div>
        </div>
      </div>
    </header>
    <main class="main">
      <aside class="aside-menu">
        <nav class="menu-nav">
          <router-link to="/" v-text="$ml.get('menu.home')" />
          <router-link to="/form-editor" v-text="$ml.get('menu.form_editor')" />
        </nav>
      </aside>
      <section class="section-view">
        <router-view/>
      </section>
    </main>
    
  </div>
</template>

<script>
import AppStatus from "./components/AppStatus/AppStatus.vue"

export default {
  name: "app",
  components: {
    AppStatus
  },
  data: function () {
    return {
      showLang: false
    }
  }
}
</script>

<style lang="scss">
@import "./assets/styles/main.scss";
</style>
