.form, .form-edit {
  text-align: left;
}

.forms-title {
  font-size: 20px;
  padding-left: 0px;
}

.form-list {
  max-width: 500px;
}

.form-choose {
  cursor: pointer;
  padding: 6px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 5px auto;
  text-align: left;
  > strong {
    font-size: 18px;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
  }
}

.form-edit {
  display: flex;
  width: 100%;
}

.form-edit-area {
  flex-grow: 1;
  margin-bottom: 40px;
}

.form-default-fields {
  min-width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px 0px 0px 5px;
  border-right: none;
  padding: 10px 0px;
  box-sizing: border-box;
  height: max-content;
  margin-left: 20px;
}

.form-editable {
  display: flex;
}

.sortable-chosen:not(.editing-field) {
  background-color: #0053a61c;
  border-radius: 5px;
  .custom-field-text-editable {
    background-color: transparent
  }
}

.custom-field {
  padding: 20px 10px;
  flex-grow: 2;
  cursor: pointer;
  .select-field {
    margin-right: 10px;
  }
}

.custom-field-info {
  padding: 20px 10px;
  box-sizing: border-box;
  min-width: 230px;
  flex-grow: 1;
  text-align: right;
}

.custom-field-text-editable {
  border: none;
  background-color: #FAFAFA;
  font: inherit;
  color: inherit;
  padding: 5px;
  width: 100%;
  &.custom-field-text-editable-check{
    width: auto;
  }
}

.custom-field-palceholder-editable {
  color: #888;
}

.btn-custom-edit-val {
  border-radius: 50%;
  padding: 0px;
  width: 30px;
  height: 30px;
  vertical-align: middle;
  margin: 0;
  background-color: #0053a633;
  color: #0053a6;
  font-size: 24px;
  line-height: 30px;
  &.remove {
    background-color: transparent;
    color: #db4a67;
    width: 20px;
    height: 20px;
    line-height: 20px;
    vertical-align: text-bottom;
    font-size: 11px;
    box-shadow: none;
  }
}

.custom-field-name {
  .custom-field-text-editable {
    display: inline-block;
    width: 120px;
    max-width: 100%;
  }
}

.custom-btn-flags {
  background-color: transparent;
  border: none;
  display: block;
  cursor: pointer;
  margin-right: 0px;
  margin-left: auto;
  padding: 5px 0px;
  margin-right: 0px;
  margin-left: auto;
  padding: 5px 0px;
  font-size: 12px;
  color: inherit; 
  opacity: .3;
  &.active {
    opacity: 1;
  }
  .icon {
    width: 10px;
    height: 10px;
  }
}

.custom-field-info-actions {
  .custom-btn-flags {
    display: inline-block;
    opacity: 1;
  }
}

.default-field {
  padding: 10px;
}

.form-edit-field-modal {
  max-width: 400px;
  max-height: 400px;
  padding: 0px;
  text-align: left;
  overflow: auto;
  background-color: transparent
}
